/droid/core/local.properties
/droid/core/gen/
/droid/core/build/
/droid/ponder/local.properties
/droid/ponder/gen/
/droid/ponder/bin/
/droid/ponder/.jde.el
/droid/imagine/local.properties
/droid/imagine/gen/
/droid/imagine/build/
/droid/imagine/.classpath
/droid/imagine/.project
/droid/imagine/bin/
/droid/imagine/.jde.el
/droid/core/.classpath
/droid/core/.project
/droid/imagine/assets/

core/Binaries
*~


.DS_Store

/build

